<!-- End Head -->
<h1 class="p-relative">Détailles du candidat</h1>
<div class="profile-page m-20">
  <!-- Start Overview -->
  <div class="overview bg-white rad-10 d-flex align-center">
    <div class="avatar-box txt-c p-20">
      <img class="rad-half mb-10" src="<%= candidat.PhotoURL %>" alt="" />
      <h3 class="m-0"><%= candidat.nom %> <%= candidat.prenom %></h3>
      <p class="c-grey mt-10"><%= candidat.PartPolytique %></p>
      <span class="c-grey">
        <i class="fa-regular fa-user"></i>
        <%= candidat.usersVotés.length %>
      </span>
      <div class="level rad-6 bg-eee p-relative">
        <span style="width: 70%"></span>
      </div>
      <div class="rating mt-10 mb-10">
        <i class="fa-solid fa-star c-orange fs-13"></i>
        <i class="fa-solid fa-star c-orange fs-13"></i>
        <i class="fa-solid fa-star c-orange fs-13"></i>
        <i class="fa-solid fa-star c-orange fs-13"></i>
        <i class="fa-solid fa-star c-orange fs-13"></i>
      </div>
      <p class="c-grey m-0 fs-13">550 Rating</p>
      <!-- toggleFavoriteButton -->
      favorise:<i class="fa-star c-orange fs-13 <%= candidat.FavorisésPar.some(user => user._id.toString() === found._id.toString()) ? 'fa-solid' : 'fa-regular' %> favorite-icon" onclick="toggleFavorite(this, '<%= candidat._id %>', '<%= found._id %>')"></i>
      <!-- toggleFavoriteButton -->
      <br>
       <!-- VotingButton -->
      <a <%= found.ElectionCandidat ? 'style="pointer-events: none; opacity: 0.6; cursor: not-allowed;"' : '' %> 
        class="bg-green c-white btn-shape" 
        type="button" 
        onclick="<%= found.ElectionCandidat ? '' : `voter('${candidat._id}', '${found._id}')` %>" 
        href="javascript:void(0)">
        <i class="fa-solid fa-thumbs-up"></i> 
        <%= found.ElectionCandidat ? 'already voted' : 'Vote' %>
     </a>
      <!-- VotingButton -->
    </div>
    <div class="info-box w-full txt-c-mobile">
      <!-- Start Information Row -->
      <div class="box p-20 d-flex align-center">
        <h4 class="c-grey fs-15 m-0 w-full">Informations génerales</h4>
        <div class="fs-14">
          <span class="c-grey">Full Name</span>
          <span>Osama Mohamed</span>
        </div>
        <div class="fs-14">
          <span class="c-grey">Gender:</span>
          <span>Male</span>
        </div>
        <div class="fs-14">
          <span class="c-grey">Country:</span>
          <span>Egypt</span>
        </div>
        <div class="fs-14">
          <label>
            <input class="toggle-checkbox" type="checkbox" checked />
            <div class="toggle-switch"></div>
          </label>
        </div>
      </div>
      <!-- End Information Row -->
      <!-- Start Information Row -->
      <div class="box p-20 d-flex align-center">
        <h4 class="c-grey w-full fs-15 m-0">Personal Information</h4>
        <div class="fs-14">
          <span class="c-grey">Email:</span>
          <span>o@nn.sa</span>
        </div>
        <div class="fs-14">
          <span class="c-grey">Phone:</span>
          <span>019123456789</span>
        </div>
        <div class="fs-14">
          <span class="c-grey">Date Of Birth:</span>
          <span>25/10/1982</span>
        </div>
        <div class="fs-14">
          <label>
            <input class="toggle-checkbox" type="checkbox" />
            <div class="toggle-switch"></div>
          </label>
        </div>
      </div>
      <!-- End Information Row -->
      <!-- Start Information Row -->
      <div class="box p-20 d-flex align-center">
        <h4 class="c-grey w-full fs-15 m-0">Job Information</h4>
        <div class="fs-14">
          <span class="c-grey">Title:</span>
          <span>Full Stack Developer</span>
        </div>
        <div class="fs-14">
          <span class="c-grey">Programming Language:</span>
          <span>Python</span>
        </div>
        <div class="fs-14">
          <span class="c-grey">Years Of Experience:</span>
          <span>15+</span>
        </div>
        <div class="fs-14">
          <label>
            <input class="toggle-checkbox" type="checkbox" checked />
            <div class="toggle-switch"></div>
          </label>
        </div>
      </div>
      <!-- End Information Row -->
      <!-- Start Information Row -->
      <div class="box p-20 d-flex align-center">
        <h4 class="c-grey w-full fs-15 m-0">Billing Information</h4>
        <div class="fs-14">
          <span class="c-grey">Payment Method:</span>
          <span>Paypal</span>
        </div>
        <div class="fs-14">
          <span class="c-grey">Email:</span>
          <span>email@website.com</span>
        </div>
        <div class="fs-14">
          <span class="c-grey">Subscription:</span>
          <span>Monthly</span>
        </div>
        <div class="fs-14">
          <label>
            <input class="toggle-checkbox" type="checkbox" />
            <div class="toggle-switch"></div>
          </label>
        </div>
      </div>
      <!-- End Information Row -->
    </div>
  </div>
          <!-- End Overview -->
          <!-- Start Other Data -->
          <div class="other-data d-flex gap-20">
            <div class="skills-card p-20 bg-white rad-10 mt-20">
              <h2 class="mt-0 mb-10">My Skills</h2>
              <p class="mt-0 mb-20 c-grey fs-15">Complete Skills List</p>
              <ul class="m-0 txt-c-mobile">
                <li><span>HTML</span><span>Pugjs</span><span>HAML</span></li>
                <li><span>CSS</span><span>SASS</span><span>Stylus</span></li>
                <li><span>JavaScript</span><span>TypeScript</span></li>
                <li><span>Vuejs</span><span>Reactjs</span></li>
                <li><span>Jest</span><span>Jasmine</span></li>
                <li><span>PHP</span><span>Laravel</span></li>
                <li><span>Python</span><span>Django</span></li>
              </ul>
            </div>
            <div class="activities p-20 bg-white rad-10 mt-20">
              <h2 class="mt-0 mb-10">Latest Activities</h2>
              <p class="mt-0 mb-20 c-grey fs-15">Latest Activities Done By The User</p>
              <div class="activity d-flex align-center txt-c-mobile">
                <img src="/images/activity-01.png" alt="" />
                <div class="info">
                  <span class="d-block mb-10">Store</span>
                  <span class="c-grey">Bought The Mastering Python Course</span>
                </div>
                <div class="date">
                  <span class="d-block mb-10">18:10</span>
                  <span class="c-grey">Yesterday</span>
                </div>
              </div>
              <div class="activity d-flex align-center txt-c-mobile">
                <img src="/images/activity-02.png" alt="" />
                <div class="info">
                  <span class="d-block mb-10">Academy</span>
                  <span class="c-grey">Got The PHP Certificate</span>
                </div>
                <div class="date">
                  <span class="d-block mb-10">16:05</span>
                  <span class="c-grey">Yesterday</span>
                </div>
              </div>
              <div class="activity d-flex align-center txt-c-mobile">
                <img src="/images/activity-03.png" alt="" />
                <div class="info">
                  <span class="d-block mb-10">Badges</span>
                  <span class="c-grey">Unlocked The 10 Skills Badge</span>
                </div>
                <div class="date">
                  <span class="d-block mb-10">18:05</span>
                  <span class="c-grey">Yesterday</span>
                </div>
              </div>
              <div class="activity d-flex align-center txt-c-mobile">
                <img src="/images/activity-01.png" alt="" />
                <div class="info">
                  <span class="d-block mb-10">Store</span>
                  <span class="c-grey">Bought The Typescript Course</span>
                </div>
                <div class="date">
                  <span class="d-block mb-10">12:05</span>
                  <span class="c-grey">Yesterday</span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Other Data -->

          <div class="projects p-20 bg-white rad-10 m-20">
            <!-- Start ajout Commentaire -->
           <div class="quick-draft p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">ajouter un commentaire</h2>
            <p class="mt-0 mb-20 c-grey fs-15">Write A Draft For Your Ideas</p>
           <form action="/comment" method="POST">
             <input class="d-block mb-20 w-full p-10 b-none bg-eee rad-6" type="text" placeholder="ajouter un commentaire" name="commentaire"/>
             <input type="hidden" name="userId" value="<%= found._id %>">
             <input type="hidden" name="candidatId" value="<%= candidat._id %>">
             <input class="save d-block fs-14 bg-blue c-white b-none w-fit btn-shape" type="submit" value="ajout" />
           </form>
           </div>
           
          </div>
           <!-- End ajout Commentaire -->
          <div class="projects p-20 bg-white rad-10 m-20">
           <!-- Start liste de Commentaires -->

           <div class="latest-post p-20 bg-white rad-10 p-relative">
            <% candidat.Comments.forEach(c=>{ %>
            <div id="comment-<%= c._id %>">
            <h2 class="mt-0 mb-25">Latest Post</h2>
            <div class="top d-flex align-center">
              <img class="avatar mr-15" src="/images/avatar.png" alt="" />
              <div class="info">
                <span class="d-block mb-5 fw-bold"><%= c.user.nom %>  <%= c.user.prenom %></span>
                <span class="c-grey"><%= c.createdAt %></span>
              </div>
            </div>
            <div class="post-content txt-c-mobile pt-20 pb-20 mt-20 mb-20">
              <%= c.commentaire %>
            </div>
            <div class="post-stats between-flex c-grey">
              <div>
                <i class="fa-regular fa-heart"></i>
                <span>1.8K</span>
              </div>
              <div>
                <i class="fa-regular fa-comments"></i>
                <span>500</span>
              </div>
            </div>
            <% }); %>
            </div>
           </div>
          
           <!-- End liste de Commentaires  -->
          
        </div>
        
      </div>
      
    </div>
    
    
    

