<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/all.min.css" />
    <link rel="stylesheet" href="/styles/framework.css" />
    <link rel="stylesheet" href="/styles/master.css" />
    <link rel="stylesheet" href="/styles/regAuth.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="/app2.js"></script>

 
    


</head>
<body>
    <div class="page d-flex">
        <div class="sidebar bg-white p-20 p-relative">
            <h3 class="p-relative txt-c mt-0">Elzero</h3>
            <ul>
             

                   <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/users/<%= found.cin %>">
                      <i class="fa-regular fa-user fa-fw"></i>
                      <span>Profil</span>
                    </a>
                  </li>



              <li>
                <a  class="active d-flex align-center fs-14 c-black rad-6 p-10" href="/candidats/<%= found.cin %>" >
                <i class="fa-regular fa-chart-bar fa-fw"></i> 
                <span> liste des candidats</span>
                </a>
              </li>
              <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/favoris/<%= found.cin %>" >
                  <i class="fa-solid fa-gear fa-fw"></i>
                  <span>liste des favoris</span>
                </a>
              </li>
              
              <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/resultatElection" >
                  <i class="fa-solid fa-diagram-project fa-fw"></i>
                  <span>Resultat Elections</span>
                </a>
              </li>
              <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" >
                  <i class="fa-solid fa-right-from-bracket fa-fw"></i>
                  <span>Deconnexion</span>
                </a>
              </li>
              
            </ul>
        </div>
        <div class="content w-full">
            <!-- Start Head -->
            <div class="head bg-white p-15 between-flex">
              <div class="search p-relative">
                <!-- Search Form -->
                <form action="/searchCandidate" method="GET">
                    <input
                        class="p-10"
                        type="search"
                        name="name"
                        placeholder="chercher un candidat"
                        name="search"
                    />
                    <input type="hidden" name="cinUser" value="<%= found.cin %>">
                </form>
            </div>
                <div class="icons d-flex align-center">
                    <span class="notification p-relative">
                        <i class="fa-regular fa-bell fa-lg"></i>
                    </span>
                    <img  src="/images/avatar.png" alt="" />
                </div>
            </div>
            
                <main>
                    <%- body %>
                    
           
                </main>
            
        </div>
    </div>
</body>
</html>