<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/all.min.css" />
    <link rel="stylesheet" href="/styles/framework.css" />
    <link rel="stylesheet" href="/styles/master.css" />
    <link rel="stylesheet" href="/styles/regAuth.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="/app2.js"></script>

 
    


</head>
<body>
    <div class="page d-flex">
        <div class="sidebar bg-white p-20 p-relative">
            <h3 class="p-relative txt-c mt-0">Elzero</h3>
            <ul>
             

                   <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/users/<%= found.cin %>">
                      <i class="fa-regular fa-user fa-fw"></i>
                      <span>Profil</span>
                    </a>
                  </li>



              <li>
                <a  class="active d-flex align-center fs-14 c-black rad-6 p-10" href="/candidats/<%= found.cin %>" >
                <i class="fa-regular fa-chart-bar fa-fw"></i> 
                <span> liste des candidats</span>
                </a>
              </li>
              <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/favoris/<%= found.cin %>" >
                  <i class="fa-solid fa-gear fa-fw"></i>
                  <span>liste des favoris</span>
                </a>
              </li>
              
              <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/resultatElection/<%= found.cin %>" >
                  <i class="fa-solid fa-diagram-project fa-fw"></i>
                  <span>Resultat Elections</span>
                </a>
              </li>
              <li>
                <a 
                  class="d-flex align-center fs-14 c-black rad-6 p-10"
                  href="javascript:void(0);" 
                  onclick="logout()"
                >
                  <i class="fa-solid fa-right-from-bracket fa-fw"></i>
                  <span>Deconnexion</span>
                </a>
              </li>
              
            </ul>
        </div>
        <script>
          function logout() {
            fetch('/authRegister/logout', {
              method: 'POST',
              credentials: 'include' // Ensures cookies are sent with the request
            })
              .then(response => {
                if (response.redirected) {
                  window.location.href = response.url; // Redirect to the login page
                } else {
                  console.error('Logout failed');
                }
              })
              .catch(error => console.error('Error:', error));
          }
        </script>
        <div class="content w-full">
            <!-- Start Head -->
            <div class="head bg-white p-15 between-flex">
              <div class="search p-relative">
                <!-- Search Form -->
                <form action="/searchCandidate" method="GET">
                    <input
                        class="p-10"
                        type="search"
                        name="name"
                        placeholder="chercher un candidat"
                        name="search"
                    />
                    <input type="hidden" name="cinUser" value="<%= found.cin %>">
                </form>
            </div>

            <div class="search p-relative">
              <!-- Search Form -->
              <form action="/candidats/<%= found.cin %>" method="GET">
                
                <!-- Sélecteur de parties -->
                <select 
                    name="partie" 
                    class="p-10" 
                    style="
                        flex: 1; 
                        padding: 10px; 
                        border: 2px solid #ccc; 
                        border-radius: 5px; 
                        font-size: 16px; 
                        background-color: #f9f9f9; 
                        color: #333; 
                        outline: none; 
                        transition: border-color 0.3s;
                    "
                    onfocus="this.style.borderColor='#007bff';" 
                    onblur="this.style.borderColor='#ccc';"
                    id="partiesSelect"
                    onchange="this.form.submit()"
                >
                  <option value="" disabled selected>Choisir une partie</option>
                </select>
            
                <input type="hidden" name="cinUser" value="<%= found.cin %>">
              </form>
            
              <script>
                fetch('/distinctParties')
                  .then(response => response.json())
                  .then(parties => {
                      if (!Array.isArray(parties)) {
                          throw new Error('La réponse n’est pas un tableau');
                      }
                      const select = document.getElementById('partiesSelect');
                      parties.forEach(partie => {
                          const option = document.createElement('option');
                          option.value = partie;
                          option.textContent = partie;
                          select.appendChild(option);
                      });
                  })
                  .catch(error => console.error('Erreur lors de la récupération des parties politiques:', error));
              </script>
            </div>
            

          
                <div class="icons d-flex align-center">
                    <span class="notification p-relative">
                        <i class="fa-regular fa-bell fa-lg"></i>
                    </span>
                    <img  src="/images/avatar.png" alt="" />
                </div>
            </div>
            
                <main>
                    <%- body %>
                    
           
                </main>
            
        </div>
    </div>
</body>
</html>